<link rel="stylesheet" href="../stylesheets/dayRecommand.css">

<div class="mdui-typo">
    <div class="mdui-chip">
        <span class="mdui-chip-icon"><i class="mdui-icon material-icons">&#xe030;</i></span>
        <span class="mdui-chip-title">每日推荐</span>
    </div>
    <!--<hr/>-->
    <div style="height: 40px;width: 100%;"></div>
    <!--<blockquote>-->
        <!--<p>{{FirstBookDescipt}}</p>-->
        <!--<footer>{{FirstBookAuthor}} ——《{{FirstBookTitle}}》</footer>-->
    <!--</blockquote>-->
</div>
<div class="child-box">
    <div class="mdui-row">
        <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12" ng-repeat="item in DayMusics">
            <div class="card-box">
                <div class="mdui-grid-tile" data-musicid="{{item.id}}">
                    <img ng-src="https://images.weserv.nl/?url={{item.image}}" crossorigin="anonymous"/>
                    <div class="mdui-grid-tile-actions">
                        <div class="mdui-grid-tile-text">
                            <div class="mdui-grid-tile-title">{{item.name}}</div>
                            <div class="mdui-grid-tile-subtitle">{{item.performers}}</div>
                            <div class="mdui-grid-tile-subtitle">
                                <i ng-model="item.grade" class="allstar allstar{{item.averageRating[0]*10}}"></i>
                                <em ng-if="item.averageRating" class="mdui-typo-body-2-opacity">{{item.averageRating[0] | number:1}}</em>
                                <em ng-if="!item.averageRating" class="mdui-typo-body-2-opacity">评论不足</em>
                            </div>
                        </div>
                        <div class="mdui-grid-tile-buttons">
                            <button class="mdui-btn mdui-btn-icon mdui-btn-dense mdui-ripple"><i class="mdui-icon material-icons play-icon">&#xe039;</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="../javascripts/dayRecommand.js"></script>

