<link rel="stylesheet" href="../stylesheets/newBooks.css">

<div class="mdui-typo">
    <div class="mdui-chip">
        <span class="mdui-chip-icon"><i class="mdui-icon material-icons">library_books</i></span>
        <span class="mdui-chip-title">新书速递</span>
    </div>
    <!--<hr/>-->
    <blockquote>
        <p>无论走到哪里，都应该记住，过去都是假的，回忆是一条没有尽头的路，一切以往的春天都不复存在，就连那最坚韧而又狂乱的爱情归根结底也不过是一种转瞬即逝的现实。</p>
        <footer>马尔克斯 ——《百年孤独》</footer>
    </blockquote>
</div>
<div class="child-box">
    <div class="mdui-row">

        <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12" ng-repeat="item in NewBookList" on-finish-render>
            <div class="card-box">
                <div class="mdui-card" data-bookid="{{item.bookId}}">
                    <div class="mdui-card-media">
                        <img src="https://img3.doubanio.com/view/subject/m/public/s29810441.jpg" crossorigin="anonymous"/>

                        </p>
                        <div class="mdui-card-menu">
                            <button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i class="mdui-icon material-icons">share</i></button>
                        </div>
                    </div>
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">{{item.title}}</div>
                        <div class="mdui-card-primary-subtitle">
                            <i class="mdui-icon material-icons mdui-text-color-orange mdui-typo-subheading-opacity">&#xe838;</i>
                            <em class="mdui-typo-body-2-opacity">{{item.grade?item.grade:"评价人数不足"}}</em>
                        </div>
                        <div class="mdui-card-primary-subtitle book-copyright">{{item.bookInfo}}</div>
                    </div>
                    <div class="mdui-card-content">{{item.description?item.description:"暂无"}}</div>
                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">expand_more</i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="../javascripts/newBooks.js"></script>

