<link rel="stylesheet" href="../stylesheets/newBooks.css">

<div class="mdui-typo">
    <div class="mdui-chip">
        <span class="mdui-chip-icon"><i class="mdui-icon material-icons">library_books</i></span>
        <span class="mdui-chip-title">新书速递</span>
    </div>
    <!--<hr/>-->
    <blockquote>
        <p>无论走到哪里，都应该记住，过去都是假的，回忆是一条没有尽头的路，一切以往的春天都不复存在，就连那最坚韧而又狂乱的爱情归根结底也不过是一种转瞬即逝的现实。</p>
        <footer>马尔克斯 ——《百年孤独》</footer>
    </blockquote>
</div>
<div class="child-box">
    <div class="mdui-row">
        <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12">
            <div class="card-box">
                <div class="mdui-card">
                    <!-- 卡片的媒体内容，可以包含图片、视频等媒体内容，以及标题、副标题 -->
                    <div class="mdui-card-media">
                        <img src="../images/card.jpg"/>

                        <!-- 卡片中可以包含一个或多个菜单按钮 -->
                        <div class="mdui-card-menu">
                            <button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i class="mdui-icon material-icons">share</i></button>
                        </div>
                    </div>

                    <!-- 卡片的标题和副标题 -->
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">Title</div>
                        <div class="mdui-card-primary-subtitle">
                            <i class="mdui-icon material-icons mdui-text-color-orange mdui-typo-subheading-opacity">&#xe838;</i>
                            <em class="mdui-typo-body-2-opacity">9.0</em>
                        </div>
                        <div class="mdui-card-primary-subtitle">Subtitle</div>
                    </div>

                    <!-- 卡片的内容 -->
                    <div class="mdui-card-content">子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」</div>

                    <!-- 卡片的按钮 -->
                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">expand_more</i></button>
                    </div>

                </div>
            </div>
        </div>
        <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12">
            <div class="card-box">
                <div class="mdui-card">
                    <div class="mdui-card-media">
                        <img src="../images/card.jpg"/>
                        <div class="mdui-card-menu">
                            <button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i class="mdui-icon material-icons">share</i></button>
                        </div>
                    </div>
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">Title</div>
                        <div class="mdui-card-primary-subtitle">
                            <i class="mdui-icon material-icons mdui-text-color-orange mdui-typo-subheading-opacity">&#xe838;</i>
                            <em class="mdui-typo-body-2-opacity">9.0</em>
                        </div>
                        <div class="mdui-card-primary-subtitle">Subtitle</div>
                    </div>
                    <div class="mdui-card-content">子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」</div>
                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">expand_more</i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12">
            <div class="card-box">
                <div class="mdui-card">
                    <div class="mdui-card-media">
                        <img src="../images/card.jpg"/>
                        <div class="mdui-card-menu">
                            <button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i class="mdui-icon material-icons">share</i></button>
                        </div>
                    </div>
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">Title</div>
                        <div class="mdui-card-primary-subtitle">
                            <i class="mdui-icon material-icons mdui-text-color-orange mdui-typo-subheading-opacity">&#xe838;</i>
                            <em class="mdui-typo-body-2-opacity">9.0</em>
                        </div>
                        <div class="mdui-card-primary-subtitle">Subtitle</div>
                    </div>
                    <div class="mdui-card-content">子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」</div>
                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">expand_more</i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12">
            <div class="card-box">
                <div class="mdui-card">
                    <div class="mdui-card-media">
                        <img src="../images/card.jpg"/>
                        <div class="mdui-card-menu">
                            <button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i class="mdui-icon material-icons">share</i></button>
                        </div>
                    </div>
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">Title</div>
                        <div class="mdui-card-primary-subtitle">
                            <i class="mdui-icon material-icons mdui-text-color-orange mdui-typo-subheading-opacity">&#xe838;</i>
                            <em class="mdui-typo-body-2-opacity">9.0</em>
                        </div>
                        <div class="mdui-card-primary-subtitle">Subtitle</div>
                    </div>
                    <div class="mdui-card-content">子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」</div>
                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">expand_more</i></button>
                    </div>
                </div>
            </div>
        </div>
        <!--ng-->
        <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12" ng-repeat="NewBookList in item">
            <div class="card-box">
                <div class="mdui-card" data-bookid="{{item.bookId}}">
                    <div class="mdui-card-media">
                        <img src="{{item.bookId}}"/>
                        <div class="mdui-card-menu">
                            <button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i class="mdui-icon material-icons">share</i></button>
                        </div>
                    </div>
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">Title</div>
                        <div class="mdui-card-primary-subtitle">
                            <i class="mdui-icon material-icons mdui-text-color-orange mdui-typo-subheading-opacity">&#xe838;</i>
                            <em class="mdui-typo-body-2-opacity">9.0</em>
                        </div>
                        <div class="mdui-card-primary-subtitle">Subtitle</div>
                    </div>
                    <div class="mdui-card-content">子曰：「学而时习之，不亦说乎？有朋自远方来，不亦乐乎？人不知，而不愠，不亦君子乎？」</div>
                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">expand_more</i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
