<!--<link href="https://cdn.bootcss.com/foundation/6.4.4-rc1/css/foundation.min.css" rel="stylesheet">-->
<link rel="stylesheet" href="../stylesheets/foundation-pagination.css">
<link rel="stylesheet" href="../stylesheets/topBooks.css">

<div class="mdui-typo">
    <div class="mdui-chip">
        <span class="mdui-chip-icon"><i class="mdui-icon material-icons">art_track</i></span>
        <span class="mdui-chip-title">图书 Top 250</span>
    </div>
    <!--<hr/>-->
    <blockquote>
        <p>{{FirstBookDescipt?FirstBookDescipt:"每本书都值得用心品味！"}}</p>
        <footer>《{{FirstBookTitle}}》</footer>
    </blockquote>
</div>
<div class="child-box">
    <div class="mdui-row">

        <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12" ng-repeat="item in TopBookList" on-finish-render>
            <div class="card-box" data-id="{{item._id}}">
                <div class="mdui-card" data-bookid="{{item.bookId}}">
                    <div class="mdui-card-media">
                        <img ng-src="https://images.weserv.nl/?url={{item.bookImg}}" crossorigin="anonymous"/>
                        <!--<p class="img-box" data-img="{{item.bookImg}}"></p>-->
                        <div class="mdui-card-menu">
                            <button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i class="mdui-icon material-icons">share</i></button>
                        </div>
                    </div>
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">{{item.title}}</div>
                        <div class="mdui-card-primary-subtitle book-copyright">{{item.enTitle?item.enTitle:"无"}}</div>
                        <div class="mdui-card-primary-subtitle">
                            <i class="mdui-icon material-icons mdui-text-color-orange mdui-typo-subheading-opacity">&#xe838;</i>
                            <em class="mdui-typo-body-2-opacity">{{item.grade?item.grade:"评价人数不足"}}{{item.remark}}</em>
                        </div>
                        <div class="mdui-card-primary-subtitle book-copyright">{{item.copyrightInfo}}</div>
                    </div>
                    <div class="mdui-card-content">{{item.description?item.description:"暂无描述"}}</div>
                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">expand_more</i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!--pagintaion-->
    <nav aria-label="Pagination" class="pag-nav" style="display: none;">
        <ul class="pagination text-center">
            <li class="pagination-previous disabled">前页</li>
            <li class="current"><span class="show-for-sr">You're on page</span> 1</li>
            <li><a href="" aria-label="Page 2">2</a></li>
            <li><a href="" aria-label="Page 3">3</a></li>
            <li><a href="" aria-label="Page 4">4</a></li>
            <li class="ellipsis"></li>
            <li><a href="" aria-label="Page 12">12</a></li>
            <li><a href="" aria-label="Page 13">13</a></li>
            <li class="pagination-next"><a href="" aria-label="Next page">后页</a></li>
        </ul>
    </nav>
    <!--pagintaion end-->

</div>

<script type="text/javascript" src="../javascripts/topBooks.js"></script>
