<link rel="stylesheet" href="../stylesheets/weekMovies.css">

<div class="mdui-typo">
    <div class="mdui-chip">
        <span class="mdui-chip-icon"><i class="mdui-icon material-icons">library_books</i></span>
        <span class="mdui-chip-title">周口碑榜</span>
    </div>
    <!--<hr/>-->
    <div style="height: 40px;width: 100%;"></div>
    <!--<blockquote>-->
        <!--<p>{{FirstBookDescipt}}</p>-->
        <!--<footer>{{FirstBookAuthor}} ——《{{FirstBookTitle}}》</footer>-->
    <!--</blockquote>-->
</div>
<div class="child-box">
    <div class="mdui-row">

        <div class="mdui-col-md-3 mdui-col-sm-6 mdui-col-xs-12" ng-repeat="item in WeekMovieList" on-finish-render>
            <div class="card-box">
                <div class="mdui-card" data-bookid="{{item.movieId}}">
                    <div class="mdui-card-media">
                        <img ng-src="https://images.weserv.nl/?url={{item.movieImg}}" crossorigin="anonymous"/>
                        <!--<p class="img-box" data-img="{{item.bookImg}}"></p>-->
                        <div class="mdui-card-menu">
                            <button class="mdui-btn mdui-btn-icon mdui-text-color-white"><i class="mdui-icon material-icons">share</i></button>
                        </div>
                    </div>
                    <div class="mdui-card-primary">
                        <div class="mdui-card-primary-title">{{item.title}}</div>
                        <div class="mdui-card-primary-subtitle grade-div">
                            <!--<i class="mdui-icon material-icons mdui-text-color-orange mdui-typo-subheading-opacity">&#xe838;</i>-->
                            <i ng-model="item.grade" class="allstar allstar{{item.grade*10}}"></i>
                            <em ng-if="item.grade" class="mdui-typo-body-2-opacity">{{item.grade | number:1}}{{item.remark}}</em>
                            <em ng-if="!item.grade" class="mdui-typo-body-2-opacity">评论不足</em>
                        </div>
                    </div>
                    <div class="mdui-card-content">{{item.description?item.description:"暂无描述"}}</div>
                    <div class="mdui-card-actions">
                        <button class="mdui-btn mdui-btn-icon mdui-float-right"><i class="mdui-icon material-icons">expand_more</i></button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="../javascripts/weekMovies.js"></script>

